<div class="row">

  <div class="col-3">
    <div class="form-group">
      <button class="btn btn-outline-primary btn-block"
              (click)="callComponentMethod()">
        Call component 1 method
      </button>
    </div>

    <div class="form-group">
      <button class="btn btn-outline-primary btn-block"
              (click)="passRandomNumberToComponent()">
        Pass random number to component 1
      </button>
    </div>
  </div>

  <div class="col-9">
    <ptc-component-1
                     [value]="value"></ptc-component-1>
  </div>
</div>
