<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Demo</h1>
</div>

<div class="row">
  <!--Child to parent-->
  <div class="col-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9"><b>Child to parent demo</b></div>
          <div class="col-3 text-right">
            <a class="btn btn-outline-primary"
               [routerLink]="['/ctp-demo']">Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Parent to child-->
  <div class="col-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9"><b>Parent to child demo</b></div>
          <div class="col-3 text-right">
            <a class="btn btn-outline-primary"
               [routerLink]="['/ptc-demo']">Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Not on same root (shared service)-->
  <div class="col-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9"><b>Not on the same root (shared service)</b></div>
          <div class="col-3 text-right">
            <a class="btn btn-outline-primary"
               [routerLink]="['/ss-demo']">Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Not on same root (message bus)-->
  <div class="col-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9"><b>Not on the same root (message bus)</b></div>
          <div class="col-3 text-right">
            <a class="btn btn-outline-primary"
               [routerLink]="['/nosr-with-shared-service-demo/with-component-2']">Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Rpc demo-->
  <div class="col-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9"><b>Rpc demo</b></div>
          <div class="col-3 text-right">
            <a class="btn btn-outline-primary"
               [routerLink]="['/basic-rpc-demo']">Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Typed message demo-->
  <div class="col-3 mb-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9"><b>Alternative api demo</b></div>
          <div class="col-3 text-right">
            <a class="btn btn-outline-primary"
               [routerLink]="['/typed-message-demo']">Go
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
